/*para font*/
p {
    font-family: 'Roboto', sans-serif;
}

/*nav row*/
.row {
    background-color: white;
    border-bottom: thin solid rgb(214, 214, 214);
}

/*navigation*/
.navbar {
    background-color: white;
    top: 5%;
    height: 40%;

}

/* toogle*/
.toggle {
    height: 96%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 6%;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 60px;
    transition: 0.9s;

}

/*toogle anher*/
.toggle a {
    display: block;
    font-size: x-large;
    color: black;
    padding: 10px 9px;
    border-bottom: thin solid black;
    text-align: center;


}

/*toogle hover*/
.toggle :hover {
    background-color: black;
    color: white;


}

/*toogle icon*/
span {
    color: white;
    font-size: small;
}

/*toogle close icon*/
.toggle .close {
    position: absolute;
    background-color: white;
    top: 0;
    left: 20px;
    color: black;
    border: none;
}

/*toogle openicon*/
.open {
    position: absolute;
    top: 25%;
    right: 15%;
    width: 10%;
    color: black;
    font-size: xx-large
}

/*header begins*/
#one {
    background-image: url("zine.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 70%;
    padding-left: 10%;
    padding-top: 3%;

}

/*header name*/
#name {
    padding-left: 5%;
    padding-top: 4%;
    color: white;
    font-size: 70px;
    margin-bottom: -2rem;
}

/*header line*/
#line {

    padding-left: 9%;
    color: white;

}

/*header web*/
#web {
    padding-left: 10%;
    margin-top: -1rem;
    color: white;
    font-size: xx-large;
}

/*header button*/
#button {
    padding-left: 10%;
    padding-top: 2%;
    size: 500px;
    
}

#xy a{
    color: black;
}
#yz a{
    color: white;
}
#xy a:hover{
    color: white;

}
#yz a:hover{
    color: black;

}

@media (max-width:999px) {

    /*header name*/
    #name {
        padding-left: 1%;
        padding-top: 2%;
        color: white;
        font-size: 60px;
        margin-bottom: -2rem;
    }

    /*header line*/
    #line {

        padding-left: 5%;
        color: white;

    }

    /*header web*/
    #web {
        padding-left: 8%;
        margin-top: -1rem;
        color: white;
        font-size: xx-large;
    }

    /*header button*/
    #button {
        padding-left: 9%;
        padding-top: 2%;
        size: 500px;
        
    }

}
@media (max-width:550px) {

    /*header name*/
    #name {
        padding-left: 1%;
        padding-top: 2%;
        color: white;
        font-size: 50px;
        margin-bottom: -2rem;
    }

    /*header line*/
    #line {

        padding-left: 5%;
        color: white;

    }

    /*header web*/
    #web {
        padding-left: 8%;
        margin-top: -1rem;
        color: white;
        font-size: xx-large;
    }

    /*header button*/
    #button {
        padding-left: 9%;
        padding-top: 2%;
        size: 500px;
    }

}
/*resume button*/
.res {
    margin-right: 3%;
}

/*resume hover*/
.res:hover {
    background-color: black;
    color: white;

}

/*about heading*/
.about {
    padding-top: 3%;
    padding-left: 13%;

}

/*abt heading*/
.abt {
    color: #151d2a;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -2%;
}

/*abt bold*/
b {
    font-size: xx-large;
    font-weight: bolder;
}

/*abt italy*/
i {
    font-size: 25px;
    font-weight: lighter;
}

/*abt img*/
.abt img {
    width: 25%;
    padding-left: 5%;
    float: left;
    margin-top: 1%;
}

/*about text*/
#abttxt {
    font-size: 25px;
    font-weight: lighter;
    padding-left: 30%;
    text-align: justify;
    color: #5a5a5a;

}

@media (max-width:767px) {
    .abt img {
        width: 100%;
    }

    #abttxt {
        text-align: justify;
        padding-left: 1%;
        padding-top: 50%;
    }

}

/*quotes*/
#quotes {
    width: 100%;
    height: 250px;
    padding: 0px 20px;
    padding-top: 0px;
    background-color: black;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 25px;
    color: white;
    font-size: xx-large;
    font-weight: lighter;
    background-image: url("quote.jpg");
    background-size: cover;
}

/*quotes line1*/
#p1 {
    padding-top: 4%;
    padding-left: 25%;
    margin-bottom: 0.5%;
}

/*quotes line2*/
#p2 {
    padding-top: -1%;
    padding-left: 33%;
}

/*quotes line3*/
#p3 {
    padding-left: 60%;

}

@media (max-width:767px) {
    #p1 {
        padding-top: 4%;
        padding-left: 5%;
        margin-bottom: 0.5%;
    }

    /*quotes line2*/
    #p2 {
        padding-top: -1%;
        padding-left: 10%;
    }

    /*quotes line3*/
    #p3 {
        padding-left: 40%;

    }
}

@media (max-width:550px) {
    #p1 {
        padding-top: 4%;
        padding-left: 5%;
        margin-bottom: 0.5%;
    }

    /*quotes line2*/
    #p2 {
        padding-top: -1%;
        padding-left: 6%;
    }

    /*quotes line3*/
    #p3 {
        padding-left: 38%;

    }

}


/*resume begins*/
.resume1 {
    padding-top: 3%;
    padding-left: 6%;

}

/*resume heading*/
.curi {
    color: #151d2a;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -2%;
}

/*resume line*/
b {
    font-size: xx-large;
    font-weight: bolder;
}

/*resume heading*/
i {
    font-size: 25px;
    font-weight: lighter;
}

/*resume timeline heading*/
.resume2 h4 {
    text-align: center;
    color: white;
    background: black;
    width: 15%;
    padding-left: 12px;
    border-radius: 10px;
    margin-left: 43%;
}

/*resume timeline begins*/
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px auto;
    width: 1000px;
    box-sizing: border-box;

}

/*resume timeline line*/
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

/*resume timeline ul*/
.timeline ul {
    margin: 0;
    padding: 0;
}

/*resume timeline ul li*/
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

/*resume timeline odd child*/
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: left;
    clear: both;
}

/*resume timeline even child*/
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

/*resume timeline content*/
.content {
    padding: 15px;
    border: thin solid black;
    text-align: justify;
}



.content p {
    color: #5a5a5a;
}

/*resume timeline odd before*/
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -5px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px black;
}

/*resume timeline even before*/
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -3px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px black;
}

/*resume timeline heading */
.timeline ul li h3 {
    font-weight: 500;
    text-align: center;
}

/*resume timeline para */
.timeline ul li p {
    margin: 10px 0 0;
}

/*resume timeline time*/
.timeline ul li .time h5 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*resume timeline time odd child*/
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    color: white;
    margin: 0;
    padding: 8px 16px;
    background: black;
    border-radius: 18px;
}

/*resume timeline time even child*/
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    color: white;
    margin: 0;
    padding: 8px 16px;
    background: black;
    border-radius: 18px;
}

/*resume timeline width adj*/
@media (max-width:1000px) {
    .resume2 h4 {
        text-align: center;
        color: white;
        background: black;
        width: 25%;
        padding-left: 12px;
        border-radius: 10px;
    }

    .timeline {
        width: 100%;
    }
}

/*resume timeline width adj*/
@media (max-width:767px) {
    .resume2 h4 {
        text-align: left;
        color: white;
        background: black;
        width: 28%;
        margin-left: 10px;
        border-radius: 10px;
        left: 20px;
    }

    .timeline {
        width: 100%;

    }

    .timeline:before {
        left: 20px;

    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

/*skills*/
.skills {
    width: 99%;
    height: 350px;
    padding-bottom: 100px;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 25px;
    color: white;
    background-image: url("zskills.jpg");
    background-size: cover;
}

/*skill heading*/
#phone {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: -2%;
}

/*gv container*/
.gv {
    padding-top: 2%;
    padding-left: 18%;


}

/* box container*/
.gv .box {
    float: left;
    padding-top: 5%;
    padding-left: 5%;


}

/*box container heading*/
.gv .box h2 {
    padding-top: 25px;
    padding-left: 40px;
    font-size: large;
}

/*box container chart*/
.gv .box .chart {
    position: relative;
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    line-height: 150px;
}

/* box container canvas*/
.gv .box canvas {
    position: absolute;
    left: 5;
}

/*at 1000px*/
@media (max-width:1000px) {
    .gv {
        padding-top: 2%;
        padding-left: 5%;
    }
}

/*at 800px*/
@media (max-width:850px) {
    .skills {
        width: 99%;
        height: 550px;
        padding-bottom: 100px;
        margin: 0px auto;
        margin-top: 100px;
        margin-bottom: 25px;
        background-size: cover;
        padding-right: 20%;
    }

    .gv {
        padding-top: 2%;
        padding-left: 15%;
    }
}

/*at 50px*/
@media (max-width:550px) {
    .skills {
        width: 99%;
        height: 550px;
        padding-bottom: 100px;
        margin: 0px auto;
        margin-top: 100px;
        margin-bottom: 25px;
        background-size: cover;
    }

    .gv {
        padding-top: 2%;
        padding-left: 15%;
    }
}

/*at 440px*/
@media (max-width:520px) {
    .skills {
        width: 99%;
        height: 180%;
        padding-bottom: 100px;
        margin: 0px auto;
        margin-top: 100px;
        margin-bottom: 25px;
        background-size: cover;
    }
}

/*blogg begins*/
.blogg1 {
    padding-top: 3%;
    padding-left: 6%;

}

/*blogg heading*/
.jrny {
    color: #151d2a;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -2%;
}

/*blogg line*/
b {
    font-size: xx-large;
    font-weight: bolder;
}

/*blogg heading*/
i {
    font-size: 25px;
    font-weight: lighter;
}

/*blogg timeline heading*/
.blogg2 h4 {
    text-align: center;
    color: white;
    background: black;
    width: 15%;
    padding-left: 12px;
    border-radius: 10px;
    margin-left: 43%;
}

/*blogg timeline begins*/
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px auto;
    width: 1000px;
    box-sizing: border-box;

}

/*blogg timeline line*/
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

/*blogg timeline ul*/
.timeline ul {
    margin: 0;
    padding: 0;
}

/*blogg timeline ul li*/
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

/*blogg timeline odd child*/
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: left;
    clear: both;
}

/*blogg timeline even child*/
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

/*blogg timeline content*/
.blogg2 .content {
    padding: 0px;
    border: thin solid black;
    text-align: justify;
}



.content p {
    color: #5a5a5a;
}

/*blogg timeline odd before*/
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -5px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px black;
}

/*blogg timeline even before*/
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -3px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px black;
}

/*blogg timeline heading */
.timeline ul li h3 {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 0px;
}

/*blogg timeline para */
.timeline ul li p {
    margin: 10px 0 0;
    padding: 20px;
}

/*blogg timeline time*/
.timeline ul li .time h5 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*blogg timeline time odd child*/
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    color: white;
    margin: 0;
    padding: 8px 16px;
    background: black;
    border-radius: 18px;
}

/*blogg timeline time even child*/
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    color: white;
    margin: 0;
    padding: 8px 16px;
    background: black;
    border-radius: 18px;
}

/*blogg timeline width adj*/
@media (max-width:1000px) {
    .timeline ul li h3 {
        font-weight: 500;
        padding: 10px;
        padding-bottom: 0px;
    }

    .blogg2 h4 {
        text-align: center;
        color: white;
        background: black;
        width: 25%;
        padding-left: 12px;
        border-radius: 10px;
    }

    .timeline {
        width: 100%;
    }
}

/*blogg timeline width adj*/
@media (max-width:995px) {
    .timeline ul li h3 {
        font-weight: 500;
        padding: 5px;
        padding-bottom: 0px;
    }

    .blogg2 h4 {
        text-align: left;
        color: white;
        background: black;
        width: 28%;
        margin-left: 10px;
        border-radius: 10px;
        left: 20px;
    }

    .timeline {
        width: 70%;

    }

    .timeline:before {
        left: 20px;

    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

/*blogg timeline width adj*/
@media (max-width:767px) {
    .timeline ul li h3 {
        font-weight: 300;
        padding: 1px;
        padding-bottom: 0px;
    }

    .blogg2 h4 {
        text-align: left;
        color: white;
        background: black;
        width: 28%;
        margin-left: 10px;
        border-radius: 10px;
        left: 20px;
    }

    .timeline {
        width: 100%;

    }

    .timeline:before {
        left: 20px;

    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

.timeline img {
    width: 100%;
    height: 35%;

}

.timeline img:hover {

    transform: scale(1.02);
}

.contact {
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    background: url(pexels.jpg);
    background-size: cover;
}

.contact .ruby {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: -4%;

}

.cube {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube .ruby-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cube .ruby-info .box {
    position: relative;
    padding: 10px 0;
    display: flex;

}

.cube .ruby-info .box .icon {
    color: black;
    min-width: 50px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20%;

    border-radius: 50%;
    font-size: 22px;
}

.cube .ruby-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    margin-top: -1%;

}

.cube .ruby-info .box .text h2 {
    font-weight: 700;

    color: rgb(112, 111, 111);
}

.cube .ruby-info .box .text p {
    letter-spacing: 0.2em;
}

.contact-form {
    width: 30%;
    margin: -2% 0%;
    padding: 15px 30px;
    background-color: white;
}

.contact-form h2 {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box input:valid~span,
.contact-form .input-box textarea:focus~span,
.contact-form .input-box textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100px;
    background: rgb(112, 111, 111);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px) {
    .contact {
        padding: 50px;
    }

    .cube {
        flex-direction: column;
    }

    .cube .ruby-info {
        margin-bottom: 40px;
    }

    .cube .ruby-info,
    .contact-form {
        width: 90%;
    }
}